html,
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 10px;
    background-color: #F4F4F4;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    background-color: #4CB050;
    color: white;
    flex-direction: column;
    height: 120px;
    align-items: center;
}

header h1 {
    margin-bottom: 0px;
    margin-top: 40px;
}


header p {
    margin-top: 0;
    margin-bottom: 40px;
}

nav {
    color: white;
    text-decoration: none;
    height: 30px;
    margin: 0;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #333333;
    height: 35px;
    margin: 0;

}

nav ul li {
    margin: 15px 15px;
    font-size: 15px;
    margin: 10px;
}

nav ul li a {

    color: white;
    padding: 10px 15px;
    text-decoration: none;


}

nav ul li a.active {
    background-color: yellow;
    color: black;
    border-radius: 5px;

}

footer {
    display: flex;
    background-color: #333333;
    color: white;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

footer p {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content ul li,
ol li {
    margin-left: -40px;
    padding-left: 30px;
    margin-top: 0;
}

.content ul,
ol {
    margin-top: 0;
}

h2,
h3 {
    margin-bottom: 0;
}

.content p,
blockquote {
    margin-top: 0;
    margin-bottom: 0;
}


main {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    flex: 1;
}

.services {
    display: flex;
    gap: 15px;

}

.service-card {
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 5px #333333;
    background-color: #ffffff;
    height: auto;
    width: 1000px;
    justify-content: center;
    font-size: small;
}

.service-card h2 {
    margin-bottom: 0;
    color: #75BA65;
}

.service-card p {
    margin-top: 0;
}

.contact-form {
    width: 400px;
    margin: 50px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px #333333;
    border-radius: 10px;
}

.contact-form label {
    display: flex;
    width: 350px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.contact-form button {
    width: 370px;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-form input,
textarea {
    width: 350px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

p a {
    text-decoration: none;
}
